body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  --blueBackground: #0f1121;
}

body:not(#bodySignup, #bodyLogin, #bodyMainPage, #bodyRetrievePassword) {
  background: linear-gradient(#141625, #000);
}

#container {
  flex: 1 0 auto;
}

h1 {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  font-family: none;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #3d3d3d;
}

/* style du nav bar */
/**$$$ a pimper!!! si temps */
#nav_bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
}

header ul {
  width: 90%;
  padding: 0;
  margin: 0 0 0 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

header ul li {
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  margin: 0;
}

#searchFilm {
  padding: 5px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

#searchFilm:focus {
  outline: none;
}

header button {
  background: none;
  border: none;
}

header i {
  font-size: 25px;
  margin-top: 10px;
  color: #3d3d3d;
}

header .btnSearch:hover i {
  transition: 0.3s;
  transform: rotateZ(30deg) scale(1.5);
  color: rgba(255, 215, 217, 0.9);
}

.navInclude li:nth-child(3) a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-style: normal;
  color: rgba(255, 128, 134, 0.9);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav bar main page */

.btnCategory {
  border: 2px solid rgba(255, 119, 119, 0.2);
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.253);
  color: whitesmoke;
  padding: 10px 15px;
  margin-bottom: 0;
  border-radius: 20px;
  cursor: pointer;
}

.btnCategory:hover {
  border: 2px solid rgba(255, 119, 119, 0.9);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

#bodyMainPage .selectionMenu,
#bodyCategory .selectionMenu {
  position: absolute;
}

#bodyMainPage .selectionMenu a,
#bodyCategory .selectionMenu a {
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid whitesmoke;
}

#bodyMainPage ul li:nth-child(2),
#bodyCategory ul li:nth-child(2) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.btnCategory:hover + .dropdown {
  opacity: 1;
  transition: 1s;
  pointer-events: all;
}

.dropdown:hover {
  opacity: 1;
  pointer-events: all;
}

#bodyCategory header li:nth-child(4) a,
#bodyMainPage header li:nth-child(3) a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-style: normal;
  color: rgba(255, 128, 134, 0.9);
}

#bodyCategory header li label,
#bodyMainPage header li label {
  text-transform: uppercase;
  font-weight: bold;
}

#bodyMainPage header li:nth-child(3) a,
#bodyCategory header li:nth-child(4) a {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav bar search film */

#bodySearchFilm header li:nth-child(2) a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-style: normal;
  color: rgba(255, 119, 119, 0.9);
}

/* nav bar login */

#bodySignup header li:nth-child(2) a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-style: normal;
  color: rgba(255, 119, 119, 0.9);
}

/* style du footer */

footer {
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

footer ul {
  padding: 10px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

footer ul li {
  margin: 0 20px;
}

footer li p {
  display: inline;
  margin: 0 5px 0 0;
}

footer a,
li {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

footer i {
  font-size: 2rem;
}

footer li:nth-child(3) a:hover i {
  color: #8482fe;
}

footer li:nth-child(4) a:hover i {
  background-image: radial-gradient(
    farthest-corner at 10% 100%,
    #ffa72e,
    #ff2b0c,
    #ff5fe3,
    #791bff
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* taille image */

header .imgNavbar {
  height: 70px;
  border-radius: 20px 0 20px 0;
}

header .imgNavbar:hover {
  box-shadow: 0px 0px 5px rgba(255, 119, 119, 0.9);
}

/* forms */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none;
}
/* sign up */

#bodySignup {
  background-image: url(pictures/erik-witsoe-GF8VvBgcJ4o-unsplash-1.jpg);
  background-position: center;
}

#formSignUp {
  width: 30%;
  margin: 60px 0 60px 50%;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0.3);
}

#formSignUp h2 {
  padding-top: 50px;
  color: white;
  text-align: center;
}

#lastNameSignUp {
  color: rgba(227, 206, 161);
  background-color: rgba(84, 84, 83);
  border-radius: 5px;
}

#firstNameSignUp {
  color: rgba(227, 206, 161);
  background-color: rgba(150, 150, 150);
  border-radius: 5px;
}

#usernameSignUp {
  color: rgba(227, 206, 161);
  background-color: rgba(84, 84, 83);
  border-radius: 5px;
}

.passwordSignUp {
  color: rgba(227, 206, 161);
  background-color: rgba(84, 84, 83);
  border-radius: 5px;
}

#signUpConfirmPw {
  color: white;
  text-align: center;
}

#emailSignUp {
  color: rgba(227, 206, 161);
  background-color: rgba(150, 150, 150);
  border-radius: 5px;
}

#paragraphSignUpConfirmPw {
  color: white;
  text-align: center;
}

#labelSubscribeNewsletter {
  padding-top: 25px;
  color: white;
  text-align: center;
}

#btnSignUp {
  color: black;
  background-color: rgba();
  margin-top: 50px;
  margin-bottom: 25px;
  width: 225px;
  border-radius: 5px;
}

#btnSignUp:hover {
  color: #ec7171;
  transition: 0.5s;
}

#goBackToLogin {
  text-align: center;
  padding-bottom: 30px;
}

/* category */

#bodyCategory h3 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  color: whitesmoke;
}

.hover {
  margin: 20px 0px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover button {
  margin-top: 10px;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.6);
}

#category {
  margin: 0 20px;
}
/* login */

#bodyLogin {
  background-image: url(pictures/erik-witsoe-GF8VvBgcJ4o-unsplash-1.jpg);
  background-position: center;
}

#formLogin {
  width: 30%;
  margin: 60px 0 0px 50%;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0.3);
}

#h2Login {
  color: white;
  text-align: center;
  padding-top: 50px;
}

#usernameLogin {
  color: rgba(227, 206, 161);
  background-color: rgba(84, 84, 83);
  border-radius: 5px;
}

#passwordLogin {
  color: rgba(227, 206, 161);
  background-color: rgba(150, 150, 150);
  border-radius: 5px;
}

#btnSignIn {
  color: black;
  background-color: rgba();
  margin-top: 50px;
  margin-bottom: 25px;
  width: 225px;
  border-radius: 5px;
}

#btnSignIn:hover {
  color: #ec7171;
  transition: 0.5s;
}

#paragraphNoAccountYet {
  color: white;
  padding-bottom: 30px;
  text-align: center;
}

/* Main page */

.selectionMenu {
  display: flex;
  flex-direction: column;
}

#frontMainPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#firstBlockMainPage {
  min-height: 100vh;
  background-image: url(pictures/erik-witsoe-GF8VvBgcJ4o-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formMainPage {
  width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#searchDivMainPage {
  display: flex;
  flex-direction: row;
  height: 40px;
}

#h2MainPage {
  color: white;
  font-size: 8vh;
  text-align: center;
  padding-top: 50px;
}

#pMainPage {
  color: white;
  font-size: 3vh;
  text-align: center;
  padding-top: 50px;
}

#searchMainPage {
  width: 50vh;
  height: 100%;
  padding: 0;
  border-radius: 10px 0 0 10px;
  color: rgba(227, 206, 161);
  background-color: rgba(84, 84, 83, 0.4);
}

#searchMainPage::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

#passwordMainPage {
  color: rgba(227, 206, 161);
  background-color: rgba(150, 150, 150);
  border-radius: 5px;
}

#btnSearchMainPage {
  color: black;
  width: 15vh;
  height: 100%;
  padding: 0;
  border-radius: 0 10px 10px 0;
  border: none;
}

#btnSearchMainPage:hover {
  color: #ec7171;
  transition: 0.5s;
}

/* Englobe tous les carrousels */
.categoryList {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.categoryList img {
  height: 400px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Englobe chaque carrousel individuellement */
.categoryItem {
  /*height: 200px;*/
  background-color: var(--blueBackground);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.categoryItem:first-child {
  margin-top: 10px;
}

.categoryDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* retrieve password */

#bodyRetrievePassword {
  background-image: url(pictures/erik-witsoe-GF8VvBgcJ4o-unsplash-1.jpg);
  background-position: center;
}

#formRetrievePassword {
  width: 30%;
  margin: 60px 0 0px 50%;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0.3);
}

#h2RetrievePW {
  padding-top: 50px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
}

#instructionPrgrph {
  color: white;
  text-align: center;
}

#emailRetrievePassword {
  color: rgba(227, 206, 161);
  background-color: rgba(84, 84, 83);
  border-radius: 5px;
}

#btnRetrievePW {
  color: black;
  background-color: rgba();
  margin-top: 50px;
  margin-bottom: 25px;
  width: 225px;
  border-radius: 5px;
}

/* search film */

#bodySearchFilm {
  background-color: var(--blueBackground);
}

#filmFound {
  width: 90%;
  margin-left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0.3);
  color: white;
  text-align: center;
}
/*Category styling */

.action {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.movieContainer {
  width: 250px;
  margin: 10px 20px;
}

/* responsive nav bar et footer*/

@media screen and (max-width: 490px) {
  header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  #bodyCategory header li:nth-child(1),
  header li:nth-child(1) {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
  }

  #bodyCategory header li:nth-child(2),
  header li:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #bodyCategory header li:nth-child(3),
  header li:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #bodySignup header li:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
  }

  #bodySignup header li:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }

  #bodyLogin header ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #bodyLogin header ul img,
  #bodyRetrievePassword header ul img,
  #bodySignup header ul img {
    height: 150px;
  }

  #bodyLogin header li:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
  }

  #bodyLogin header li:nth-child(2) {
    grid-column: 1;
    grid-row: 2 / 3;
    text-align: center;
  }

  #bodySearchFilm header li:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2/3;
  }

  #bodySignup header li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bodyRetrievePassword header li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bodyMainPage header ul,
  #bodyCategory header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  #bodyMainPage header ul img {
    height: 100px;
  }

  #bodyMainPage header li:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
  }

  #bodyMainPage header li:nth-child(2),
  #bodyCategory header li:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }

  .selectionMenu,
  .dropdown {
    left: 0;
    padding: 0;
  }

  #bodyMainPage header li:nth-child(3),
  #bodyCategory header li:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
  }

  #bodyCategory header li:nth-child(3) input {
    width: 100%;
  }

  #bodyCategory header li:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  footer ul li {
    margin: 10px;
  }

  footer ul li:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer ul li:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  footer ul li:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  footer ul li:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 490px) and (max-width: 530px) {
  #bodyCategory header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #bodyMainPage header img {
    height: 100px;
  }

  #bodyCategory header li:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
  }

  #bodyCategory header li:nth-child(2) {
    grid-column: 1;
    grid-row: 2 / 3;
    text-align: center;
  }

  #bodyCategory header li:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }

  #bodyCategory header li:nth-child(3) input {
    width: 100%;
  }

  #bodyCategory header li:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

/* page login/signup et retrievePW moyen écran responsive */

@media screen and (max-width: 890px) {
  #formLogin {
    width: 500px;
  }

  #usernameLogin {
    width: 200px;
  }

  #passwordLogin {
    width: 200px;
  }

  #btnSignIn {
    width: 200px;
  }

  #formSignUp {
    width: 500px;
  }

  #lastNameSignUp {
    width: 200px;
  }

  #firstNameSignUp {
    width: 200px;
  }
  #usernameSignUp {
    width: 200px;
  }
  #emailSignUp {
    width: 200px;
  }

  #passwordSignUp {
    width: 200px;
  }

  #btnSignUp {
    width: 200px;
  }

  #logoSignUpPage {
    justify-content: center;
  }

  #formRetrievePassword {
    width: 500px;
  }

  #emailRetrievePassword {
    width: 200px;
  }

  #btnRetrievePW {
    width: 200px;
  }
}

/* page login et signup petit écran responsive */

@media screen and (max-width: 550px) {
  #formLogin {
    width: 250px;
  }

  #usernameLogin {
    width: 200px;
  }

  #passwordLogin {
    width: 200px;
  }

  #btnSignIn {
    width: 200px;
  }

  #formSignUp {
    width: 250px;
  }

  #lastNameSignUp {
    width: 200px;
  }

  #firstNameSignUp {
    width: 200px;
  }
  #usernameSignUp {
    width: 200px;
  }
  #emailSignUp {
    width: 200px;
  }

  #passwordSignUp {
    width: 200px;
  }

  #btnSignUp {
    width: 200px;
  }

  #formRetrievePassword {
    width: 250px;
  }
}

/* page mainPage responsive */

@media screen and (max-width: 765px) {
  #h2MainPage {
    font-size: 6vh;
  }

  #pMainPage {
    font-size: 3vh;
  }
}

@media screen and (max-width: 600px) {
  #h2MainPage {
    font-size: 5vh;
  }
  #pMainPage {
    font-size: 2.5vh;
  }
  #searchDivMainPage {
    width: 350px;
  }
}

@media screen and (max-width: 415px) {
  #h2MainPage {
    font-size: 4vh;
  }

  #pMainPage {
    font-size: 2vh;
  }
  #searchDivMainPage {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .categoryItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .categoryDescription {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .carousel {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
